@charset "UTF-8";

body
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
    user-select: none;
}

.construction-items
{
    display: none;
}

.box
{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.field
{
    width: 250px;
    height: 250px;
}